@import url("https://homegroupsignindevtest.blob.core.windows.net/hmssignin/font.css");
@import "variables";

.App {
  text-align: center;
}

.logo {
  width: 10em;
  position: absolute;
  margin-bottom: 10em;
  margin-left: 2em;
  opacity: 0.2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Submit button
.button {
  .pb-container {
    margin-top: 1.5em;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .pb-container .pb-button {
    background: transparent;
    border: 4px solid $border;
    border-radius: 25px;
    color: currentColor;
    cursor: pointer;
    padding: 0.7em 1em;
    text-decoration: none;
    text-align: center;
    height: 10em;
    width: 30em;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition: background-color 0.3s, width 0.3s, border-width 0.3s,
      border-color 0.3s, border-radius 0.3s;
    &:hover {
      box-shadow: 0 0 2px 0px $border;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .pb-container .pb-button span {
    display: inherit;
    transition: opacity 0.3s 0.1s;
    font-family: $font;
    color: $text;
    font-size: 3em;
    font-weight: 200;
  }
  .pb-container .pb-button svg {
    height: 110px;
    width: 110px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .pb-container .pb-button svg path {
    opacity: 0;
    fill: none;
  }
  .pb-container .pb-button svg.pb-progress-circle {
    animation: spin 0.9s infinite cubic-bezier(0.085, 0.26, 0.935, 0.71);
  }
  .pb-container .pb-button svg.pb-progress-circle path {
    stroke: $base-green;
    stroke-width: 2;
  }
  .pb-container .pb-button svg.pb-checkmark path,
  .pb-container .pb-button svg.pb-cross path {
    stroke: $white;
    stroke-linecap: round;
    stroke-width: 2;
  }
  .pb-container.disabled .pb-button {
    cursor: not-allowed;
  }
  .pb-container.loading .pb-button {
    width: 54px;
    border-width: 1px;
    border-color: transparent;
    cursor: auto;
    background-color: transparent;
    padding: 0;
  }
  .pb-container.loading .pb-button span {
    transition: all 0.15s;
    opacity: 0;
    display: none;
  }
  .pb-container.loading .pb-button .pb-progress-circle > path {
    transition: opacity 0.15s 0.3s;
    opacity: 1;
  }
  .pb-container.success .pb-button {
    border-color: $base-green;
    background-color: $base-green;
  }
  .pb-container.success .pb-button span {
    transition: all 0.15s;
    opacity: 0;
    display: none;
  }
  .pb-container.success .pb-button .pb-checkmark > path {
    opacity: 1;
  }
  .pb-container.error .pb-button {
    border-color: $button-error;
    background-color: $button-error;
  }
  .pb-container.error .pb-button span {
    transition: all 0.15s;
    opacity: 0;
    display: none;
  }
  .pb-container.error .pb-button .pb-cross > path {
    opacity: 1;
  }
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
      transform-origin: center center;
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
      transform-origin: center center;
    }
  }
}

.checkbox {
  vertical-align: bottom;
  width: 13px !important;
  height: 13px !important;
  appearance: none;
  outline: 0;
  border: 1px solid $base-green;
  border-radius: 2px;
  box-shadow: none;
  font-size: 2em;
  &:hover {
    box-shadow: 0 0 2px 0.1px $base-green;
  }
  &:checked {
    background-color: $base-green;
    outline: 0;
  }
}

.inputs {
  margin-top: 1em;
  align-items: center;
  color: $text;
  font-family: $font;
  display: flex;
  flex-direction: column;

  .inputs-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    label {
      font-size: 1em;
      font-weight: 200;
    }
    input {
      margin-top: 0.3em;
      width: 100%;
      height: 3.7em;
      padding: 0 10px;
      font-size: 0.9em;
      font-weight: 200;
      font-family: $font;
      box-shadow: 0 0 1px 0.3px $border;
      border: 0;
      border-radius: 4px;
      margin-bottom: 0.5em;
      transition: all 250ms ease-in-out;
      &:hover {
        background-color: $white;
        box-shadow: 0 0 4px 0.3px $light-green;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 4px 0.8px $base-green;
      }
    }
    p {
      height: 1em;
      font-size: 0.95em;
      color: $text-orange;
      margin: 0;
      margin-bottom: 0.8em;
      font-weight: 300;
      @media (max-height: 600px) {
        margin-bottom: 1.5em;
      }
    }
  }
}
